@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Pontano Sans'), local('PontanoSans-Regular'), url('PontanoSans-Regular.woff') format('woff'), url('PontanoSans-Regular.ttf') format('truetype');
}
